<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <div class="container header">
            <div class="col-12">
                <img src="images/banner1.svg" alt="" srcset="" class="banner-header">
            </div>
        </div>
        <h1>Ajude pessoas que estão precisando!</h1>
    
        <div class="container">
            <div class="row">
                <button onclick="window.location.href='/ajudaAi/login'" type="button" class="btn btn-danger btn-lg btn-block">Entrar</button>
                <button onclick="window.location.href='/ajudaAi/newUser'" type="button " class="btn btn-danger btn-lg btn-block">Registrar-se</button>
            </div>
        </div>
    </header>
    
    <%- include('partials/footer.ejs') %> 
    </body>
</html>