<header>
    <nav id="menu">
        <ul>
            <li><a href="/ajudaAi/home">Home</a></li>
            <li><a href="/ajudaAi/meuPerfil/<%= currentUser._id %>">Meu perfil</a></li>
            <li><a href="#areaAjuda">Ajudar</a></li>
            <li><a href="/ajudaAi/newPedido">Pedir ajuda</a></li>
            <li ml-auto><a href="/ajudaAi/logout">Sair</a></li>
        </ul>
    </nav>
    <div id="banner-header">

    </div>
</header>