body{
    background-color: #FFE8E8;
}

header{
    background-color: white;
    margin-bottom: 10px;
}

#infos{
    padding: 5px;
    background-color: #f0dfdf;
}

h2{
    color: black;
    text-align: center;
}


#image-perfil{
    border-radius: 50%;
    width: 40%;
    height: 50%;
}


@media only screen and (max-width: 1100px) {
    .col-4{
        width: 40%;
    }
    .col-8{
        width: 50%;
    }
}

/*Tela de 990px*/
@media only screen and (max-width: 990px) {
    .col-4{
        width: 100%;
    }
    .col-8{
        margin-top: 20px;
        width: 100%;
    }

    #image-perfil{
        border-radius: 50%;
        width: 30%;
        height: 40%;
    }
}

/*Tela de 900px*/
@media only screen and (max-width: 900px) {


}

/*Tela de 770px*/
@media only screen and (max-width: 770px) {

}

/*Tela de 550px*/
@media only screen and (max-width: 550px) {

}

/*Tela de 400px*/
@media only screen and (max-width: 400px) {
 
}

