<%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/navbar.ejs') %> 
    <div class="conteudo">
        <h3><%= postagem.titulo %> </h3>
        <p><%= postagem.texto %> ></p>
    </div>
</body>
