<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <div class="corpo">
        <div class="area1">
            <a href="/home"><h1>TÍTULO DO BLOG</h1></a>
        </div>
        <div class="area2">
            <form action="" method="post" style="margin-left: 10px">
                <h2>Login</h2>
                <label for="username">Nome:</label>
                <br>
                <input type="text" name="username" style="width: 95%;">
                <br>
                <label for="password">Password:</label>
                <br>
                <input type="password" name="password" style="width: 95%;">
                <button style="margin-top: 10px;">Entrar</button>
            </form>
        </div>
        <div class="area3">
            <span><strong>Lucas Alves</strong></span>
        </div>
    </div>

    <script src="">
        alert("Por algum motivo ele esta enviando para uma rota administracao do tipo 'POST' por mais que ela n exista, mas ele autentica certinho")
    </script>
</body>
</html>